<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="https://d8xabijtzlaac.cloudfront.net/Custom/Content/Themes/Shared/Images/marca-bemol.svg" type="image/png" />
    <title>Bemol - Single Channel</title>

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/partials/page-header.css" />
    <link rel="stylesheet" href="/styles/partials/cards.css" />
    <link rel="stylesheet" href="/styles/partials/buttons.css" />
    <link rel="stylesheet" href="/styles/partials/forms.css" />
    <link rel="stylesheet" href="/styles/partials/animations.css" />
    <link rel="stylesheet" href="/styles/pages/index.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script src="scripts/index.js" defer type="module"></script>
    
  </head>
  <body id="page-job">
    <%- include('parts/page-canal', { title: 'ver canais'}) %>

    <div class="container flex animate-up delay-2">
      <main>
        <form id="form-job" action="/job" method="POST">
          <fieldset>
            <legend>Faça seu cadastro para receber promoções</legend>
            <div class="separator light"></div>
            <div class="input-wrapper">
              <label for="nome">Nome</label>
              <input 
               type="text"
               id="nome" 
              name="name" />
            </div>
            <div class="input-wrapper">
              <label for="name">CPF</label>
              <input 
               type="text"
               id="name" 
              name="name" />
            </div>
            <div class="input-wrapper">
              <label for="cep">CEP</label>
              <input 
               type="text"
               id="cep" 
              name="name" />
            </div>
            <div class="input-wrapper">
              <label for="logradoro">Rua</label>
              <input 
               type="text"
               id="logradouro" 
              name="name" />
            </div>
            <div class="input-wrapper">
              <label for="name">bairro</label>
              <input 
               type="text"
               id="bairro" 
              name="bairro" />
            </div>
           

            <div class="input-group">
              <div class="input-wrapper">
                <label for="localidade">Cidade </label>
                <input 
                  type="text"
                  id="localidade" 
                  name="localidade"/>
              </div>
              <div class="input-wrapper">
                <label for="uf">Estado</label>
                <input 
                  type="text"
                  id="uf" 
                  name="uf" />
              </div>
            </div>
          </fieldset>
    
        </form>
      </main>
      
    </div>
    <!-- end container -->
  </body>
</html>
 